.contact {

	background-color: #141414;
	overflow: hidden;

	&:before {
		background: linear-gradient(to right bottom, #ffffff calc(50% - 1px), #141414 50%);
	}

	p { 
		color: #fff; 
		margin: 0px;
		padding-bottom: 5%;
	}

	input, textarea {

		display: block;
		border: 0px;
		padding: 10px;
		background-color: #fff;
		border: solid 2px #141414;
		color: #141414;
		outline: none;
		width: 100%;
		height: 50px;
		margin-bottom: 20px;
		box-sizing: border-box;
		border-radius: 0px;
		font-size: 16px;
		resize: none;
		border: none;
	
		@include placeholder(color black, font-size 12px);
	
		// remove autofill styles
		&:-webkit-autofill {
		    -webkit-box-shadow: 0 0 0 30px white inset;
		}

		&#message {
			height: auto;
			line-height: 20px;
		}

		&#send {

			background-color: #141414;
			color: #fff;
			border-radius: 0px;
			appearance: none;
			border: solid 2px #fff;
			cursor: pointer;

		}

		// submission failed
		&.required {

		 	&:invalid {
				
				color: white;
				background-color: #d24c63;
				@include placeholder(color white);

			}
	
		}

	}
	
	// submission container
	div {

		width: 100%;
		display: block;
		position: relative;

		&.result {

			input {
				width: calc(100% - 60px);
			}

			&:after {
				content: "";
				display: inline-block;
				width: 50px;
				height: 50px;
				border: solid 2px #fff;
				box-sizing: border-box;
				background-size: 100%; 
				@include position(absolute, $top: 0, $right: 0);
			}

			&--loading {
				&:after {
					background-image: url(../img/contact/loading.gif);
				}
			}
			&--success {
				&:after {
					background-image: url(../img/contact/success.jpg);
				}
			}
			&--failure {
				&:after {
					background-image: url(../X);
				}
			}

		}

	}

}