.header {

	&:before { content: none !important; }

	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden; 

	.logo {

		width: 200px;
		height: 200px;
		position: inherit;
		z-index: 1001;
		cursor: pointer;

		a {

			display: block;
			z-index: 1000;

			img {
				display: block;
				width: 100%;
				transition: all .5s ease-out;
				border: solid 0px #141414;
				border-radius: 200px;
				box-sizing: border-box;
			}

		}

		&:after {
			content: "";
			@include position(absolute, $top: 0px, $right: 0px, $bottom: 0px, $left: 0px);
			border-radius: 220px;
			border: solid 5px #141414;
			transition: all .5s ease-out;
			opacity: 0;
		}

		&:hover {

			img {
				border: solid 20px #141414;
				border-radius: 200px;
			}

			&:after {
				@include position(absolute, $top: -30px, $right: -30px, $bottom: -30px, $left: -30px);
				opacity: 1;
			}
	
			+ div {
				filter: grayscale(0%);
			}
		}

	}
	
	.background {

		@include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
		background: url(../img/mountain.jpg) bottom center no-repeat;
		background-size: cover;
		background-attachment: fixed;
		filter: grayscale(75%);
		transition: filter .5s ease-out;

	}

	&:after {
		content: "";
		display: block;
		height: 10vh;
		@include position(absolute, $right: 0, $bottom: 0, $left: 0);
		background: linear-gradient(to right bottom, transparent calc(50% - 1px), #fff 50%);
		user-select: none;
	}

}