.preloader {

	@include position(fixed, $top: 0, $right: 0, $bottom: 0, $left: 0);
	background: #141414;
	z-index: 1002;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .5s linear;
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
	
	p {
		color: #fff;
	}

	&--hidden {

 		animation: preloader .3s linear forwards;
 
		@include keyframes(preloader) {
		  	50% 	{ clip-path: polygon(100% 0, 100% 100%, 0 0, 0 0); }
		    100% 	{ clip-path: polygon(100% 0, 100% 100%, 100% 0, 100% 0); }
		}

	}	

}