@charset "UTF-8";

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.myAnimation {
    animation: typewriter steps(11) 1;
}
@keyframes typewriter{
    from    {width: 0;}
    to      {width: auto;}
}