@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@import url('https://fonts.googleapis.com/css?family=Anton');

$fonts: "icons", "social";

@each $font in $fonts {
	@font-face {
		font-family: $font;
		src: url('../fonts/#{$font}/#{$font}.eot');
		src: url('../fonts/#{$font}/#{$font}.eot?#iefix') 		format('embedded-opentype'),
		 	 url('../fonts/#{$font}/#{$font}.woff')				format('woff'),
		 	 url('../fonts/#{$font}/#{$font}.ttf')				format('truetype'),
		 	 url('../fonts/#{$font}/#{$font}.svg#fontello')		format('svg');

		font-weight: 100;
	}
}