@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  	position: $position;
  	top: $top;
  	right: $right;
  	bottom: $bottom;
  	left: $left;
}

@mixin placeholder($contents...) {
  
  $prefixes: ':-webkit' '-moz' ':-moz' '-ms';
  
  @each $prefix in $prefixes {
  
      	&:#{$prefix}-input-placeholder {
  
	      	@each $content in $contents {
	        	$property: nth($content, 1);
	        	$value: nth($content, 2);
	        	#{$property}: $value;

	      	}

    	}

  	}

}

@mixin keyframes($name) {

  @-webkit-keyframes #{$name} {
    @content; 
  }
  
  @-moz-keyframes #{$name} {
    @content;
  }
  
  @-ms-keyframes #{$name} {
    @content;
  }
  
  @keyframes #{$name} {
    @content;
  } 
  
}