.modal {

	@include position(fixed, $top: 0, $right: 0, $bottom: 0, $left: 0);
	background-color: rgba(0,0,0,0.8);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.subject {

		width: 90%;
		max-width: calc(700px + 5vw);
		background-color: #fff;
		box-sizing: border-box;
		padding: 2% 3%;
		position: relative;

		.sec {
			
			width: 80%;
			margin: 0px auto;

			h2 {
				text-align: left;
				margin-top: 0px;
			}
	
			&.image {

				position: relative;
				background-size: 100% 100%;
				background-repeat: no-repeat;
				align-self: center;

				.scrollable {

					min-height: 0px;
					min-width: 0px;
					@include position(absolute, $top: 0, $right: 0, $left: 0);

					img {
						width: 100%;
						display: block;
					}

				}

				&.desktop {
					
					background-image: url(../img/modal/desktop.jpg);
					padding-bottom: 70%;

					.scrollable {
						width: 95%;
						height: 64%;
						margin: 3% auto 0 auto;
						overflow-y: scroll;
					}

				}

				&.ipad {
					
					background-image: url(../img/modal/ipad.jpg);
					padding-bottom: 64%;

					.scrollable {
						width: 84%;
					    height: 78%;
					    margin: 8.5% auto 0 auto;
					    overflow-y: hidden;
					}
				
				}

				.change_image {

					width: 30px;
					height: 30px;
					margin: auto;
					background-size: 100% 100%;
					@include position(absolute, $top: 0, $bottom: 0);
					cursor: pointer;

					&.left {
						background-image: url(../img/modal/controls/left.jpg);
						left: -35px;
					}

					&.right {
						background-image: url(../img/modal/controls/right.jpg);
						right: -35px;
					}

					&.disabled {
						display: none;
					}

				}

			}

		}

	}

	// ANGLES
	&:before {
		content: "";
		height: 3.8vh;
		width: 90%;
		max-width: calc(700px + 5vw);
		background: linear-gradient(to left bottom, transparent calc(50% - 1px), #fff 50%);
	}

	&:after {
		content: "";
		height: 3.8vh;
		width: 90%;
		max-width: calc(700px + 5vw);
		background: linear-gradient(to right top, transparent calc(50% - 1px), #fff 50%);
		box-sizing: border-box;
	}

}